@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    font-family: 'twayair';
  }

body {
    height: 100vh;
    background-repeat : no-repeat;
    background-size : cover;
    overflow: hidden;
  }

.div_wrap {
    width:100%;
    height:100%;
    margin:0px auto;
    padding:0px; 
    overflow:hidden;
    text-align: center;
}

.content {
    width:98%; 
    height:90%;
    margin:15px auto;
    padding:0px;
    overflow:hidden;
    text-align:center;
}
    
.content:after {
    content:""; 
    clear:both; 
    display:block;
}
    
.content > div { 
    float:left;
    width:33%; 
    height:100%;
    padding: 10px;    
    box-sizing:border-box;    
}

.d1 {
    text-align: left;
}

.d2 {
    margin-left: 0.5%;
}

.d3 {    
    margin-left: 0.5%;
}

.formContainer {
    background: rgba(244, 244, 244, .4);
    border-radius: 5px;
    padding: 10px;
}

.form-control {
    margin: 0 auto !important;
    width: 80% !important;
}

.clock {
    color:aliceblue; 
    font-size: 5rem; 
    filter: drop-shadow(3px 3px 3px #333);
}

.hidden {
    display: none;
}

.logIn {
    width: 100px;
}

.logOut {
    width: 100px;
}

.greetings {
    text-align: left;
}